main table {
    width: 600px;
    padding: 0 75px;
}

main table .title,
main table .text,
main table .user,
main table .time {
    display: block;
    width: 600px;
    background-color: #ADD8E6;
}

main table .title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

main table .text {
    font-size: 14pt;
    white-space: pre-wrap;
}

main table .user,
main table .time {
    text-align: right;
}