main table {
    width: 6rem;
    padding: 0 .75rem;
}

main table .title,
main table .text,
main table .user,
main table .time {
    display: block;
    width: 6rem;
}

main table .title {
    text-align: center;
    font-size: .2rem;
    font-weight: 600;
}

main table .text {
    font-size: 14pt;
    white-space: pre-wrap;
}

main table .user,
main table .time {
    text-align: right;
}