/* 初始化设置 */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}


/* 浮动设置 */

.leftfloat {
    float: left;
}

body {
    background-color: #ecf0f1;
}

header {
    height: 100px;
    background-color: #3498db;
    position: relative;
}

header .logo {
    width: 400px;
    margin: 0 auto;
}

header nav {
    width: 100%;
    height: 30px;
    background-color: #2c3e50;
    position: absolute;
    bottom: 0;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav a:hover {
    color: skyblue;
    font-weight: 600;
}

header nav .navpic {
    width: 20px;
    height: 20px;
}

header nav ul {
    position: absolute;
    left: 30%;
}

header nav ul li {
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 30px;
}

.box {
    width: 800px;
    min-height: 500px;
    background-color: #ADD8E6;
    margin: 0 auto;
    padding: 20px;
}

.ad {
    width: 150px;
    height: 400px;
    background-color: tomato;
    position: fixed;
    left: 0;
    top: 15%;
}

.ad .x {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

footer {
    height: 80px;
    background-color: #333333;
    color: white;
    padding-top: 4px;
}

footer p {
    text-align: center;
    line-height: normal;
    font-weight: 200;
}