/* 初始化设置 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100px;
}
body{
    font-size: .16rem;
}
main {
    width: 8rem;
    min-height: 5rem;
    background-color: #FAFAFA;
    margin: 0 auto;
    padding: 20px;
    font-size: .16rem;

}