.box form {
    width: 6rem;
    height: 5rem;
    margin: 0 auto;
}

.box form input {
    width: 6rem;
}

.box form textarea {
    width: 6rem;
    height: 4rem;
}

.box form button {
    width: .8rem;
}