<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zjku.mapper.BlogMapper">
    <select id="selectCount">
        select count(*) from blog
    </select>
    <select id="selectByPage" resultType="edu.zjku.bean.Blog" parameterType="int">
        select * from blog limit #{param1},#{param2}
    </select>
    <select id="selectAll" resultType="edu.zjku.bean.Blog">
        SELECT * FROM blog
    </select>
    <select id="selectUnpass" resultType="edu.zjku.bean.Blog">
        SELECT * FROM blog WHERE audit=0
    </select>
    <select id="selectPass" resultType="edu.zjku.bean.Blog">
        SELECT * FROM `blog` WHERE audit = 1
    </select>
    <select id="selectById" resultType="edu.zjku.bean.Blog" parameterType="java.lang.String">
        SELECT * FROM `blog` WHERE pid = #{pid}
    </select>
    <insert id="insert" parameterType="edu.zjku.bean.Blog">
        INSERT INTO blog ( title, text, `user`, time , audit)VALUES(#{title},#{text},#{user},NOW(),0)
    </insert>
    <delete id="delete" parameterType="edu.zjku.bean.Blog">
        DELETE FROM blog WHERE pid = #{pid}
    </delete>
    <update id="update" parameterType="edu.zjku.bean.Blog">
        UPDATE blog SET title = #{title},text = #{text} WHERE pid = #{pid}
    </update>
    <update id="allow" parameterType="edu.zjku.bean.Blog">
        UPDATE blog SET audit = 1 WHERE pid = #{pid}
    </update>
</mapper>